ol{
    background-color: yellow;
}
ol>li:nth-child(odd){
    text-transform:uppercase;
}
ol>li:nth-child(even){
    color: green;
}
.header{
    color: red;
    font-style: italic;
}
.header:: {
    border: 1px solid black;
}
.header>em{
    border: 1px solid black;
    font-size: 40px;
}
li{
    font-size: 20px;
}
li>em{
    font-weight: bold;
}
.linguagens> li:nth-child(1),.linguagens> li:nth-child(2), .linguagens> li:nth-child(3)  {
    color: blue;
}
.linguagens> li:nth-child(2), .linguagens> li:nth-child(3){
    background-color: pink;
}


.aliados>li:nth-child(1) a:hover{    
    background-color: black;
    color: orange;
}
.aliados>li:nth-child(2) a:hover{    
    background-color: black;
    color: green;
}
.aliados>li:nth-child(3) a:hover{    
    background-color: black;
    color: black;
}
.aliados>li:nth-child(4) a:hover{    
    background-color: black;
    color: yellow;
}
.aliados>li:nth-child(5) a:hover{    
    background-color: black;
    color: green;
}