h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
p{
    font-weight: 600;
    font-style: oblique;
    text-align: center;


}
.back-p-ul {
    background-color: aqua;
    line-height: 2cm;
}
body{
    font-size: 16px;         
 }